
   <div>
    <app-zippy title="Construction Services"> 
        <p>Your dream home needs excellent craftsmanship, and who better to give it life than our Top-Class home construction team! On-Time Project Delivery and a Hassle-Free Experience from Plan Approval to Handover Guaranteed.</p>
    </app-zippy> 
    <app-zippy title="Construction Services"> 
        <p>Your dream home needs excellent craftsmanship, and who better to give it life than our Top-Class home construction team! On-Time Project Delivery and a Hassle-Free Experience from Plan Approval to Handover Guaranteed.</p>
    </app-zippy> 
    <app-zippy title="Construction Services"> 
        <p>Your dream home needs excellent craftsmanship, and who better to give it life than our Top-Class home construction team! On-Time Project Delivery and a Hassle-Free Experience from Plan Approval to Handover Guaranteed.</p>
    </app-zippy> 
    <app-zippy title="Construction Services"> 
        <p>Your dream home needs excellent craftsmanship, and who better to give it life than our Top-Class home construction team! On-Time Project Delivery and a Hassle-Free Experience from Plan Approval to Handover Guaranteed.</p>
    </app-zippy> 

  </div>