<ng-container>
  <div class="contain">
    <div >
    <owl-carousel-o class="tags" [options]="customOptions" >
      <ng-template carouselSlide>Slide1</ng-template>  
      <ng-template carouselSlide>Slide2</ng-template>  
      <ng-template carouselSlide>Slide3</ng-template>  
    </owl-carousel-o>
    </div>
  
    <div class="wrapper">
      <div class="wrappertext">AC Repair</div>
      <div class="wrapper1">
        <div class="section">
          <div class="section1">
            <img [src]="image1" class="img-fluid rounded-start" alt="" />
          </div>
          <div class="section2">
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image2" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image3" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image4" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image5" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image3" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="wrappertext">Electtrician</div>
      <div class="wrapper1">
        <div class="section">
          <div class="section1">
            <img [src]="image1" class="img-fluid rounded-start" alt="" />
          </div>
          <div class="section2">
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="wrappertext">Plumbing
        <div class="section">
          <div class="section1">
            <img [src]="image1" class="img-fluid rounded-start" alt="" />
          </div>
          <div class="section2">
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="wrappertext">Carpentry</div>
      <div class="wrapper1">
        <div class="section">
          <div class="section1">
            <img [src]="image1" class="img-fluid rounded-start" alt="" />
          </div>
          <div class="section2">
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
            <div class="body">
              <h5 class="card-title"><img [src]="image1" alt="" /></h5>
              <p class="card-text">This is a wider card with .</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="guarantee">
        <div class="guaranteewrwpper">
            <div>
                <img src="" alt="">
                <h4>HAPPINESS GUARANTEE</h4>
                <h6>Because your happiness is our goal!
              </h6>
            </div>
            <div class="icontext">
                <div>
                    <img src="" alt="">
                    <h4>Verified Professionals</h4>
                </div>
                <div>
                    <img src="" alt="">
                    <h4>Insured Work</h4>
                </div>
                <div>
                    <img src="" alt="">
                    <h4>Re-work Assurance</h4>
                </div>
                <div>
                    <img src="" alt="">
                    <h4>Professional Support</h4>
                </div>
            </div>
            <div>
                <button class="btn">Find Out More</button>
            </div>
        </div>
    </div>
  
  <div class="sponsor">
  <div class="number">
      <div>
          <h1>2 Million+</h1>
          <p>Customers Served</p>
      </div>
      <div>
          <h1>2 Million+</h1>
          <p>Customers Served</p>
      </div>
      <div>
          <h1>2 Million+</h1>
          <p>Customers Served</p>
      </div>
  
  </div>
  <div>
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </div>
  </div>
  
  </div>
  
</ng-container>